In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('train.csv')

In [8]:
data.shape

(8523, 12)

In [9]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [24]:
data= pd.get_dummies(data)

In [25]:
train = data[0:7999]
test = data[8000:]

In [26]:
x_train = train.drop('Item_Outlet_Sales',axis = 1)

In [27]:
x_train

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300,0.016047,249.8092,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.000000,182.0950,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.930,0.000000,53.8614,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
5,10.395,0.000000,51.4008,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
6,13.650,0.012741,57.6588,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
7,NaN,0.127470,107.7622,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
8,16.200,0.016687,96.9726,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
9,19.200,0.094450,187.8214,2007,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
10,11.800,0.000000,45.5402,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
11,18.500,0.045464,144.1102,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
12,15.100,0.100014,145.4786,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
13,17.600,0.047257,119.6782,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
14,16.350,0.068024,196.4426,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
15,9.000,0.069089,56.3614,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
16,11.800,0.008596,115.3492,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
17,9.000,0.069196,54.3614,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
18,NaN,0.034238,113.2834,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
19,13.350,0.102492,230.5352,2004,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
20,18.850,0.138190,250.8724,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
21,NaN,0.035400,144.5444,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
22,14.600,0.025698,196.5084,2004,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
23,NaN,0.057557,107.6938,1985,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0
24,13.850,0.025896,165.0210,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
25,13.000,0.099887,45.9060,2007,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
26,7.645,0.066693,42.3112,2004,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
27,11.650,0.019356,39.1164,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
28,5.925,0.161467,45.5086,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
29,NaN,0.072222,43.6454,1985,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7969,11.650,0.032425,38.8164,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
7970,NaN,0.052301,88.2830,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
7971,14.300,0.026363,78.3302,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
7972,NaN,0.000000,45.7428,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
7973,8.355,0.187559,148.0418,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7974,13.150,0.043764,183.0950,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7975,19.250,0.000000,82.5908,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7976,5.035,0.080073,228.2036,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7977,15.850,0.007146,41.0480,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7978,15.350,0.096318,197.3768,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
7979,12.500,0.020730,197.2742,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
7980,18.350,0.157834,87.5882,1998,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
7981,NaN,0.010929,167.0842,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
7982,20.500,0.036110,120.1756,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
7983,13.850,0.030843,143.1154,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
7984,4.590,0.000000,111.1860,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7985,10.000,0.089078,147.1102,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
7986,12.350,0.100164,113.6518,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7987,NaN,0.045764,43.8744,1985,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
7988,20.000,0.103997,107.4622,1987,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
7989,13.800,0.057104,232.6984,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7990,9.500,0.041971,33.3900,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7991,5.425,0.114472,88.3514,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7992,16.750,0.045117,187.9556,1999,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
7993,19.200,0.000000,223.8062,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7994,10.500,0.027276,171.3106,1997,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7995,12.850,0.152748,252.0382,2009,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
7996,NaN,0.060707,127.5020,1985,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0
7997,6.360,0.120788,45.7060,2002,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
7998,NaN,0.076852,111.8570,1985,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0

In [28]:
y_train = train['Item_Outlet_Sales']

In [29]:
x_test = test.drop('Item_Outlet_Sales',axis = 1)

In [30]:
true_p = test['Item_Outlet_Sales']

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
#now linear regression does not accept string value so we have to convert them into dummies values
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [38]:
x_train.fillna(0,inplace=True)

In [39]:
x_test.fillna(0,inplace=True)

In [40]:
linerRegession = LinearRegression()

In [41]:
linerRegession.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [43]:
pred = linerRegession.predict(x_test)

In [44]:
linerRegession.score(x_test,true_p)

0.4023191793527754

In [45]:
np.sqrt(np.mean(np.power((np.array(true_p)-np.array(pred)),2)))

1255.3481412890485